<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Dashboard</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-card style="text-align: center;"> 
		<ion-card-header>
			<h2 style="font-size: 2.6rem;font-weight: 800;">
				Welcome to Rhythm 'n' Soul!!!!
			</h2>
		</ion-card-header>
		<ion-card-content style="font-size: 1.6rem;">
			Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and charm and gaiety to life and to everything.
		</ion-card-content>
	</ion-card>
</ion-content>
