<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
        <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <a ion-item (click)="goToPage('Dashboard')"> Dashboard </a>
            <a ion-item (click)="goToPage('Radio')">Radio List</a>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content #myNav swipeBackEnabled="false"></ion-nav>