<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Radio List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let item of radioPlayList" (click)="radioSelected($event, item)">
            <div class="item-note">
                {{item.name}}
            </div>
        </button>
    </ion-list>
</ion-content>