<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Detail</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    Welcome to detail page.
</ion-content>